@using TPsinNumero.Models

<div class = "Index">
@if (ViewBag.info is Integrantes integrante)
{
    <h1>隆Bienvenido a tu perfil, @integrante.nombre! </h1>
    <div>
        <h2>Informaci贸n Personal</h2>
        <p>ID: @integrante.IdIntegrante</p>
        <p>Nombre: @integrante.nombre</p>
        <p>Apellido: @integrante.apellido</p>
        <p>Tel茅fono: @integrante.telefono</p>
        <p>Barrio: @integrante.barrio</p>
        <p>Mascota: @(integrante.mascota ? "S铆" : "No")</p>
        <p>Hobbie: @integrante.hobbie</p>
    </div>
}
else
{
    <p>No se pudo cargar la informaci贸n del perfil. Por favor, inicie sesi贸n nuevamente.</p>
}
<p><a href = '@Url.Action("Index", "Home")'>Ir a la p谩gina de inicio de sesi贸n</a></p>
</div>